@page
@model AboutModel
@{
    Layout = "_Layout";
}
@{
    <section class="about-us">
        <img src="https://images.ctfassets.net/wowgx05xsdrr/X4p98QpSMoJHanMygKIQF/9d38262ccf370b1e2d5a63741acf8282/4590CD_Ecommerce-Conversion-Rate-Optimization_May-2022_Header.png?fm=webp&w=3840&q=75" alt="About Us Banner" class="banner-image">
        <h2>About Us</h2>
        <hr class="separator">
        <p>The worlds first e-commerce site solely dedicated to craftwork and artisan pieces from artists around the globe. Your one way stop to everything culturally rich!Explore our page boasting about the rich craftwork pieces</p>
        <hr class="separator">
        <img src="https://builtin.com/sites/www.builtin.com/files/styles/og/public/2022-09/ecommerce.png" alt="Craftwork" class="about-image">
    </section>
    
}
