@page
@model KhumaloCraft.Pages.ContactModel
@{
    Layout = "_Layout";
}
<section class="contact-us">
    <h2 class="contact-us-heading">Contact Us!</h2>
    <p>Please feel free to contact us regarding anything you need!</p>
    <p>Phone: +27 123 456 789</p>
    <p>Email: KhumaloCraft@craft.com</p>
    <p>Address: 123 Pearl Street, Durban, South Africa</p>
    <img src="https://static1.gensler.com/uploads/image/41955/filename/AKC_MuseumoftheDog_N9_1643237982.jpg" alt="Contact Us" class="contact-image">
</section>