@page
@model IndexModel
@{
    Layout = "_Layout";
}

<div class="homepage-header">
    <hr class="black-bar">
    <h1>KhumaloCraft</h1>
    <hr class="black-bar">
</div>

<div class="homepage-content">
    <h2>Welcome to KhumaloCraft!</h2>
    <p>Welcome to the leading e-commerce platform pursuing global reach to showcase artisans and craftwork from around the world. Take a deep dive into some of the culturally rich pieces sculpted by artists with different backrounds.</p>
    <img src="https://3d-ace.com/wp-content/uploads/image3_1.jpg" alt="KhumaloCraft Image" class="rounded-image">
</div>
